.ggclass{
	background-color : #D3D3D3;
	padding : 20px;
	width : 80%;
	margin : auto;
	border-radius : 10px;
}
h1{
	text-align :center;
}
body{
	background-color : #9EC8DC;
}
ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	width : 20%;
}

li {
    float: left;
}
.head{
	position : absolute;
	background-color : red;
	width : 100%;
	padding : 1px;
	top : 0px;
	
}
.headerbar{
	left : 50%;
	right : 50%;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
